@use "variables" as *;

body {
  font-family: $font-family-base;
  margin: 0;
  padding: 0;
  background-color: $color-bg;
}

header {
  background-color: $color-accent;
  color: $color-white;
  text-align: center;
  padding: 10px 0;
  font-size: 1.5em;
}
