@use "variables" as *;

.loader,
.error {
  text-align: center;
  color: $color-muted;
  font-style: italic;
}

.error {
  color: $color-error;
}

.empty {
  text-align: center;
  color: $color-empty;
  font-style: italic;
  padding: 40px 0;
}
